body {
  font-family: "Abel", sans-serif;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
h1,
h2 {
  font-weight: 900;
  margin-bottom: 0;
  padding-bottom: 0;
}
h1 {
  font-size: 65px;
  margin-bottom: 0;
}

h2 {
  font-size: 55px;
  color: #fa7655;
}
h3 {
  margin-bottom: 20px;
}
h3,
li,
span {
  font-size: 16px;
  color: rgb(141, 140, 140);
}

li {
  list-style: none;
  position: relative;
  left: 0;
}
i {
  font-size: 55px;
  margin-bottom: 20px;
}
ul {
  margin-top: 15px;
  padding: 0;
}

small {
  margin: 0;
  color: rgb(131, 131, 131);
}

form {
  margin-top: 30px;
}

.weather-app {
  border: 2px solid #fa7655;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
}
.card {
  border: 0;
}
.card-text {
  color: rgb(141, 140, 140);
}

.col {
  padding: 0;
}

.form-control,
.btn-primary,
.btn-secondary {
  color: #fa7655;
  background-color: #ffffff;
  border-color: #fa7655;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #fa7655;
  border-color: #fa7655;
}

#API-data-origin {
  padding-left: 15px;
}

#today-icon {
  font-size: 80px;
  color: #fa7655;
}
#today-card {
  position: relative;
  top: 0;
}
#today-values {
  padding-right: 0;
}

#current-date {
  margin-bottom: 5px;
}

#current-temp {
  color: #fa7655;
  font-size: 55px;
  font-weight: 700;
}

#description {
  text-align: center;
}
